.slider {
    border-radius: 20px;
    width: 140px;
    height: 2px;
}

.thumb {
    position: relative;
    width: 6px;
    height: 6px;
    cursor: pointer;
    top: -2px;
}

.fill {
    height: 2px;
    position: absolute;
    border-radius: 20px;
    width: 0;
}

